{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="body-login">
        <p class="registration-info">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock fos_user_content %}
