{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block fos_user_content %}

    <div class='container-fluid'>
        <div class='row send-email'>
            <div class='col-lg-4 col-md-4 col-sm-4'></div>
            <div class='col-lg-4 col-md-4 col-sm-4'>
                <p style="text-align: center; font-size: 3rem;">{{ 'resetting.password_already_requested'|trans }}</p>
            </div>
            <div class='col-lg-4 col-md-4 col-sm-4'></div>
        </div>
    </div>

{% endblock fos_user_content %}
